#computer-choice {
    display: inline-block;
    
}

#player-choice {
    
    display: inline-block;
}
#choice-display {
    display: flex;
  
}



body {
    background-color:   #111827;
    color:   #E5E7EB;
}
h1 {
    color:  #000080;
    background-color:  #A9A9A9;
    border-radius: 5px;
}
h2 {
    display: flex;
    justify-content: center;
}
.btn {
    display: flex;
    width: 150px;
    height: 70px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "inter";
    margin: 10px;
       
}

.btn:hover {
    background-color: gray;
    transform: translateY(-2px);
    transition: 0.3s ease;  

}

#userInput {
    display: flex;
     align-items: center;
    justify-content: center;
    
}
#para {
    color: red;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 2rem;
}
#rock {
    color: brown;
}
#paper {
    color: #023e8a;
}
#scissors {
    color: #ff2400;
}
#choice-display {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
  
}

#round-winner {
    display: flex;
    flex: 0 0 100%;
    width: 50px;
  
    
    justify-content: center;
}
#paraRW {
    font-size:25px;
    
    
}
#player-choice {
    margin-left: 25px;
    border: 2px solid green;
    border-radius: 5px;
    padding: 10px;
}
#computer-choice {
    margin-right: 25px;
    border: 2px solid red;
    border-radius: 5px;
    padding: 10px;
}
#score-board {
    text-align: center;
    font-size: 30px;
}
#result-area {
    text-align: center;
}
#replay {
    background-color: green;
    color: white;
    font-size: 25px;
    border-radius: 5px;
    font-weight: bold;
    font-family: "inter";
    display:flex;
    justify-content: center;
    margin: 0 auto;
}
#replay:hover {
    background-color: #00FF00;
    transform: translateY(-2px);
    transition: 0.3s ease;
}
#card {
    border: 5px solid white;
    border-radius: 5px;
    margin: 0 auto;
    width: 60%;
}